.rowContainer {
	background-color: white;
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
}

.cardList {
	padding: 8px;
	background-color: inherit;
	flex-grow: 1;
	display: flex;
	min-height: 100px;
}

.rowHeaderInput {
	font-size: 14px;
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 5px;
}

.rowHeaderInput:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}
